<%- include("headers") -%>
<div class="text-header">
    <h1>Weather forceast</h1>
    <p>Pan you week with the help of our 7-day <br>weather forecasts and weekend weather predictions</p>
  
      <form action="/forceast" method="post">
    <input id="cityplace" type="text" name="for">
    <button type="submit">Check</button>
    </form>
    
  </div>
  <div class="dataplace">
  
  </div>
 
</div>
