<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Weather Website</title>
</head>
<body>
    <div class="menu">
      <a href="/"><img src="css/sun.png"></a>
        <ul>
          <li><i class="fa fa-bookmark"></i><a href="/list-add">Bookmark</a></li>
          <li><i class="fa fa-calendar"></i> <a href="/forceast">Forceast</a></li>
        </ul>
      </div>
      <img src="/css/sun.png" class="big" alt="">

    
</body>
</html>